/* Tailwind CSS の基本スタイルを読み込む */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply w-10/12 min-h-screen text-gray-800 mx-auto;
  @apply mb-20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Noto Sans JP', 'Yu Gothic', 'Hiragino Sans';
  line-height: 1.5;
}

.markdown ul {
  @apply list-disc pl-10;
}
.markdown ol {
  @apply list-decimal pl-10;
}
.markdown h1 {
  @apply text-3xl m-2 mb-4;
}
.markdown h2 {
  @apply text-2xl m-2;
}
.markdown h3 {
  @apply text-xl m-2 border-b border-gray-300 pb-1;
}
/* インラインコード */
.markdown code {
  @apply text-xs bg-gray-100 text-red-500 p-1 m-1 rounded-md shadow-sm;
}

/* コードブロック */
.markdown pre {
  @apply text-sm bg-gray-800 text-slate-100 p-4 my-5 rounded-lg shadow-lg overflow-x-auto;
}

/* コードブロック内の code 要素はプレーンなスタイル */
.markdown pre code {
  @apply text-sm bg-transparent p-0 m-0 text-inherit;
}

/* ダークモード */
.dark body {
  @apply bg-gray-800 text-gray-200;
}

.dark .markdown pre {
  @apply bg-gray-100 text-gray-800;
}

.dark .markdown pre code {
  @apply text-gray-800 shadow-none;
}

/* テーブルスタイル */
table {
  @apply w-full border-collapse;
}

table th,
table td {
  @apply px-4 py-2 border border-gray-300 text-left;
}

table th {
  @apply bg-gray-100 font-semibold;
}

/* マークダウン内の画像のスタイル */
.markdown img {
  @apply max-w-screen-md h-auto rounded-lg shadow-md m-4;
}

/* 画像の大きさを調整（任意で変更） */
.markdown img.small {
  @apply w-32; /* 幅を固定 */
}

.markdown img.medium {
  @apply w-48; /* 幅を固定 */
}

.markdown img.large {
  @apply w-64; /* 幅を固定 */
}
