/* Tailwind CSS の基本スタイルを読み込む */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply w-full min-h-screen;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Noto Sans JP', 'Yu Gothic', 'Hiragino Sans';
  line-height: 1.5;
}

.markdown ul {
  @apply list-disc pl-10;
}
.markdown ol {
  @apply list-decimal pl-10;
}
.markdown h1 {
  @apply text-3xl m-2;
}
.markdown h2 {
  @apply text-2xl m-2;
}
.markdown h3 {
  @apply text-xl m-2;
}
/* インラインコード */
.markdown code {
  @apply text-xs bg-gray-100 text-red-500 p-1 m-1 rounded-md shadow-sm; /* 優しいブルー系 */
}

/* コードブロック */
.markdown pre {
  @apply text-sm bg-gray-800 text-slate-100 p-4 m-2 rounded-lg shadow-lg overflow-x-auto; /* 濃い背景色と明るいテキスト */
}

/* コードブロック内の code 要素はプレーンなスタイル */
.markdown pre code {
  @apply bg-transparent p-0 m-0 text-inherit;
}
